<a href="https://colab.research.google.com/github/silviolima07/Codenation-Data-Science/blob/master/desafio_1_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [0]:
import pandas as pd
import numpy as np

In [0]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [0]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [0]:
black_friday.describe().T

,count,mean,std,min,25%,50%,75%,max
User_ID,537577.0,1.002992e+06,1714.392695,1000001.0,1001495.0,1003031.0,1004417.0,1006040.0
Occupation,537577.0,8.082710e+00,6.524120,0.0,2.0,7.0,14.0,20.0
Marital_Status,537577.0,4.087973e-01,0.491612,0.0,0.0,0.0,1.0,1.0
Product_Category_1,537577.0,5.295546e+00,3.750701,1.0,1.0,5.0,8.0,18.0
Product_Category_2,370591.0,9.842144e+00,5.087259,2.0,5.0,9.0,15.0,18.0
Product_Category_3,164278.0,1.266984e+01,4.124341,3.0,9.0,14.0,16.0,18.0
Purchase,537577.0,9.333860e+03,4981.022133,185.0,5866.0,8062.0,12073.0,23961.0

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [0]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [0]:
def q2():
    # Retorne aqui o resultado da questão 2.
    age_filter = black_friday.loc[black_friday['Age'] == '26-35']
    gender_female = age_filter.loc[age_filter['Gender'] == 'F']
    return len(gender_female)

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [0]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return len(black_friday['User_ID'].unique())

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [0]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return len(black_friday.dtypes.unique())

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [0]:
def q5():
    # Retorne aqui o resultado da questão 5.
    # (total - quantidade_nao_nulos) = quantidade_nulos
    # (total - quantidade_nao_nulos) / total = porcentagens_nulos
    return (black_friday.shape[0] - black_friday.dropna().shape[0]) / black_friday.shape[0]

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [0]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isnull().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [0]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return float(black_friday['Product_Category_3'].mode())

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [0]:
def q8():
    # Retorne aqui o resultado da questão 8.
    purchases = black_friday['Purchase'].copy()
    normalized_purchase = (purchases - purchases.min()) \
                        / (purchases.max() - purchases.min())
    return float(normalized_purchase.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [0]:
def q9():
    # Retorne aqui o resultado da questão 9.
     # (valor - media) / desvio_padrao
    purchase = black_friday['Purchase']    
    standardized_purchase = (purchase - purchase.mean()) / purchase.std()
    return int(standardized_purchase.between(-1, 1).sum())

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [0]:
def q10():
    # Retorne aqui o resultado da questão 10.
    if (black_friday['Product_Category_2'].isnull().any() and (black_friday['Product_Category_3'].isnull().any())):
        return True
    else:
        return False